
img{
	max-width: 100%;
}

.con {
		text-align: center;

}

body{
	background-color: #90EE90;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}
