.con {
	text-align:center;

}
.con2 {
	text-align:center;
	
}
body{
	background-color: #90EE90;
	
}
#1{
	display: inline-flex;
}
@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}

@supports (display: flex) {
  @media screen and (min-width: 900px) {
    article {
      display: flex;
    }
  }
}